
<footer>
  <div class="container">
    <div class="footer-img">
      <div class="footer-nav">
        <a href="./index.html" class="footer__logo">energy.flow</a>
        <ul class="footer-contacts__list">
          <li class="footer-contacts__item">
            <a href="https://facebook.com" class="footer-contacts__link">
              <svg class="" height="28" width="28">
                <use href="./images/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-contacts__item">
            <a href="https://instagram.com" class="footer-contacts__link">
              <svg class="" height="28" width="28">
                <use href="./images/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-contacts__item">
            <a href="https://youtube.com" class="footer-contacts__link">
              <svg class="" height="28" width="28">
                <use href="./images/symbol-defs.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <h2 class="footer__title">
        Transforming your <span class="footer-title__span">body</span> shape with
        us
      </h2>

      <form class="footer__form">
        <h2 class="footer-form__title">
          Subscribe and learn about new exercises!
        </h2>
        <input type="text" placeholder="Email" class="footer-form__input" name="email" />
        <button type="submit" class="footer-form__btn">Send</button>
      </form>

      <ul class="footer-text__list">
        <li class="footer-list__item">
          <p class="footer-final__text">Energy Flow. All rights reserved.</p>
        </li>
        <li class="footer-list__item">
          <p class="footer-final__text">Privacy Policy <span class="footer-slesh__span">/</span> Terms of Service</p>
        </li>
      </ul>

    </div>
  </div>
</footer>