<footer class="footer">
    <div class="footer-box">
        <a href="" class="footer__box-logo">energy.flow</a>
        <ul class="footer__box-list">
            <li class="footer__list-item">
                <a href="" class="footer__item-page">
                    <svg class="footer__page-icon" height="28" width="28">
                        <use href=""></use>
                    </svg>
                </a>
            </li>
            <li class="footer__list-item">
                <a href="" class="footer__item-page">
                    <svg class="footer__page-icon" height="28" width="28">
                        <use href=""></use>
                    </svg>
                </a>
            </li>
            <li class="footer__list-item">
                <a href="" class="footer__item-page">
                    <svg class="footer__page-icon" height="28" width="28">
                        <use href=""></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    <biv class="footer-box-text">
        <p class="footer__box-text">
            Transforming your <span class="footer__span-text">body</span>shape with us</p>
    </biv>
    <form class="footer__box-form">
        <h2 class="footer__form-title">Subscribe and learn about new exercises!</h2>
        <input type="email" placeholder="Email" class="footer__form-iput">
        <button type="submit" class="footer__form-btn">Send</button>
    </form>
    <div class="footer-final-text">
        <h2 class="final__box-title">Energy Flow. All rights reserved.</h2>
        <p class="final__box-text">Privacy Policy<span class="final__box-span">/</span>Terms of Service</p>
    </div>
</footer>