<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a href="./header.html" class="header__logo">energy.flow</a>
      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a href="../index.html" class="header-nav__link">Home</a>
        </li>
        <li class="header-nav__item">
          <a href="../fovorites.html" class="header-nav__link"> Favorites </a>
        </li>
      </ul>
    </nav>
    <ul class="header-contacts__list">
      <li class="header-contacts__item">
        <a href="" class="header-contacts__link">
          <svg class="" height="28" width="28">
            <use href=""></use>
          </svg>
        </a>
      </li>
      <li class="header-contacts__item">
        <a href="" class="header-contacts__link">
          <svg class="" height="28" width="28">
            <use href=""></use>
          </svg>
        </a>
      </li>
      <li class="header-contacts__item">
        <a href="" class="header-contacts__link">
          <svg class="" height="28" width="28">
            <use href=""></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
