<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a href="./index.html" class="header__logo">energy.flow</a>

      <button type="button" class="btn-open-modal">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="16" viewBox="0 0 32 16" fill="none">
          <path d="M28 10.3333H4" stroke="#7E847F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M28 5H4" stroke="#7E847F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
      </button>
      <ul class="header-nav__list">
        <li class="header-nav__item is-active header-home" >
          <a href="./index.html" class="header-nav__link">Home</a>
        </li>
        <li class="header-nav__item header-favorites" >
          <a href="./fovorites.html" class="header-nav__link">Favorites</a>
        </li>
      </ul>

      <ul class="header-contacts__list">
        <li class="header-contacts__item">
          <a href="https://facebook.com" class="header-contacts__link">
            <svg class="" height="28" width="28">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-contacts__item">
          <a href="https://instagram.com" class="header-contacts__link">
            <svg class="" height="28" width="28">
              <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-contacts__item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="header-contacts__link"
          >
            <svg class="" height="28" width="28">
              <use href="./images/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
