<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a href="./index.html" class="header__logo">energy.flow</a>

      <button type="button" class="btn-open-modal">open</button>

      <div class="modal header-modal">
        <div class="box">
          <a href="./index.html" class="modal__logo">energy.flow</a>
          <button type="button" class="btn-close-modal">close</button>
        </div>

        <ul class="modal-nav__list">
          <li class="header-nav__item is-active">
            <a href="./index.html" class="header-nav__link">Home</a>
          </li>
          <li class="header-nav__item">
            <a href="./fovorites.html" class="header-nav__link"> Favorites </a>
          </li>
        </ul>

        <ul class="modal-contacts__list">
          <li class="header-contacts__item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="header-contacts__link"
            >
              <svg class="" height="28" width="28">
                <use href="./images/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="header-contacts__item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="header-contacts__link"
            >
              <svg class="" height="28" width="28">
                <use href="./images/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="header-contacts__item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="header-contacts__link"
            >
              <svg class="" height="28" width="28">
                <use href="./images/symbol-defs.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <ul class="header-nav__list">
        <li class="header-nav__item is-active">
          <a href="./index.html" class="header-nav__link">Home</a>
        </li>
        <li class="header-nav__item">
          <a href="./fovorites.html" class="header-nav__link"> Favorites </a>
        </li>
      </ul>

      <ul class="header-contacts__list">
        <li class="header-contacts__item">
          <a href="https://facebook.com" class="header-contacts__link">
            <svg class="" height="28" width="28">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-contacts__item">
          <a href="https://instagram.com" class="header-contacts__link">
            <svg class="" height="28" width="28">
              <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-contacts__item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="header-contacts__link"
          >
            <svg class="" height="28" width="28">
              <use href="./images/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
