<div class="modal header-modal">
    <div class="box">
      <a href="./index.html" class="modal__logo">energy.flow</a>
      <button type="button" class="btn-close-modal">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <path d="M15 5L5 15" stroke="#F6F6F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M5 5L15 15" stroke="#F6F6F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
      </button>
    </div>

    <ul class="modal-nav__list ">
      <li class="modal-nav__item is-active" data-modalHome>
        <a href="./index.html" class="modal-nav__link modal-Home">Home</a>
      </li>
      <li class="modal-nav__item" data-modalFavorites>
        <a href="./fovorites.html" class="modal-nav__link modal-Favorites"> Favorites </a>
      </li>
    </ul>

    <ul class="modal-contacts__list">
      <li class="modal-contacts__item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="modal-contacts__link"
        >
          <svg class="" height="28" width="28">
            <use href="./images/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="modal-contacts__item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="modal-contacts__link"
        >
          <svg class="" height="28" width="28">
            <use href="./images/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="modal-contacts__item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="modal-contacts__link"
        >
          <svg class="" height="28" width="28">
            <use href="./images/symbol-defs.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>