<section class="quote">
  <div class="container">
    <div class="quote-box">
      <div class="quote-text-box">
        <h2 class="quote__title">
          <span class="quote__span">
            <svg width="18" height="20">
              <use href="./images/symbol-defs.svg#icon-running"></use>
            </svg>
          </span>
          Quote of the day
        </h2>
        <p class="quote__description">
          A lot of times I find that people who are blessed with the most talent
          don't ever develop that attitude, and the ones who aren't blessed in
          that way are the most competitive and have the biggest heart.
        </p>
        <h3 class="quote-author__text">Tom Brady</h3>
        <div class="quote-quotes-box">
          <svg class="quotes__svg" width="37.03" height="31.04">
            <use href="./images/symbol-defs.svg#icon-quotes"></use>
          </svg>
        </div>
      </div>
      <div class="quote-img-box">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/quote/quote-desctop@1x.png 1x,
              ./images/quote/quote-desctop@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/quote/quote-mobile@1x.png 1x,
              ./images/quote/quote-mobile@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/quote/quote-tablet@1x.png 1x,
              ./images/quote/quote-tablet@2x.png 2x
            "
          />
          <img
            class="quote-box-picture"
            src="./images/quote/quote-desctop@1x.png"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
