<div class="backdrop-rating is-hidden-rating">
  <div class="rating-modal">
    <button type="button" class="rating-modal-close__btn">
      <svg width="28" height="28" class="rating-modal-close__svg">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="rating-modal__title">Rating</h2>
    <div class="rating-modal-box">
      <p class="rating-modal-text">0.0</p>
      <ul class="rating-modal-stars__list">
        <li class="rating-modal-start__item">
          <svg width="24" height="24" class="rating-modal-star__svg">
            <use href="./images/symbol-defs.svg#icon-Star-1"></use>
          </svg>
        </li>
        <li class="rating-modal-start__item">
          <svg width="24" height="24" class="rating-modal-star__svg">
            <use href="./images/symbol-defs.svg#icon-Star-1"></use>
          </svg>
        </li>
        <li class="rating-modal-start__item">
          <svg width="24" height="24" class="rating-modal-star__svg">
            <use href="./images/symbol-defs.svg#icon-Star-1"></use>
          </svg>
        </li>
        <li class="rating-modal-start__item">
          <svg width="24" height="24" class="rating-modal-star__svg">
            <use href="./images/symbol-defs.svg#icon-Star-1"></use>
          </svg>
        </li>
        <li class="rating-modal-start__item">
          <svg width="24" height="24" class="rating-modal-star__svg">
            <use href="./images/symbol-defs.svg#icon-Star-1"></use>
          </svg>
        </li>
      </ul>
    </div>
    <form class="rating-modal__form">
      <input type="email" class="rating-modal__input" placeholder="Email" />
      <textarea
        class="rating-modal__textarea"
        placeholder="Your comment"
      ></textarea>
      <button type="submit" class="rating-modal-send__btn">Send</button>
    </form>
  </div>
</div>
