<section class="recommendation">
  <div class="container">
    <div class="recommendation-img-box">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/recommendation/recommendation-desctop@1x.png 1x,
            ./images/recommendation/recommendation-desctop@2x.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/recommendation/recommendation-mobile@1x.png 1x,
            ./images/recommendation/recommendation-mobile@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/recommendation/recommendation-tablet@1x.png 1x,
            ./images/recommendation/recommendation-tablet@2x.png 2x
          "
        />
        <img src="./images/recommendation/recommendation-desctop@1x.png" />
      </picture>
    </div>
    <div class="recommendation-box">
      <h2 class="recommendation__title">
        <span class="recommendation__span">
          <svg class="recommendation__svg">
            <use href="./images/symbol-defs.svg#icon-dumbbell"></use>
          </svg>
        </span>
        110 min
      </h2>
      <h3 class="recommendation__subtitle">Daily norm of sports</h3>
      <p class="recommendation__description">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day?
      </p>
    </div>
  </div>
</section>
