.footer .container {
  max-width: 1388px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(
      rgba(27, 27, 27, 0.3),
      rgba(27, 27, 27, 0.3)
    ),
    url('../images/footer/footer-img-desctop@1x.png');
}

.footer__logo {
  color: rgb(246, 246, 246);
  font-size: 28px;
}

.footer-box {
  margin-top: 64px;
}

.footer-contacts__list {
  margin-top: 30px;
  display: flex;
}

.footer-contacts__item {
  margin-right: 12px;
  box-sizing: border-box;
  border: 1px solid rgba(246, 246, 246, 0.2);
  border-radius: 10px;
}

.footer-contacts__link {
  display: flex;
  padding: 8px;
  fill: rgb(246, 246, 246);
}

.footer__title {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 64px;
  max-width: 488px;
  color: rgb(246, 246, 246);
  font-size: 64px;
  font-weight: 400;
  line-height: 62px;
  text-align: left;
}

.footer-title__span {
  color: rgb(246, 246, 246, 0.3);
  margin-right: 14px;
}

.footer-form__title {
  color: rgb(246, 246, 246);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer__form {
  max-width: 352px;
  margin-top: 64px;
}

.footer-form__input {
  max-width: 352px;
  padding: 12px 298px 12px 14px;
  /* Inside Auto Layout */
  background: transparent;
  margin: 20px 0px;
  border: 1px solid rgb(246, 246, 246);
  border-radius: 30px;
}

.footer-form__btn {
  color: rgb(246, 246, 246);
  max-width: 352px;
  /* Auto layout */
  display: flex;
  align-items: center;
  padding: 12px 157px 12px 157px;
  /* Inside Auto Layout */
  border-radius: 30px;
  background: rgb(126, 132, 127);
}

.footer-form__btn:hover {
  background: #5f6560;
}

.footer-final-box {
  gap: 8px;
  margin-top: 160px;
  padding-bottom: 26px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-final__text {
  color: rgb(246, 246, 246);
  font-size: 14px;
}

.footer-final__text:last-child {
  margin-left: 32px;
}

.test {
    fill: black;
}