footer {
 
  margin-top: 16px;
}


.footer-img {
   padding-top: 40px;
  max-width: 335px;
  background-repeat: no-repeat;
  border-radius: 30px;

  background-image: url('../images/footer/footer-img-mobile@1x.png');
  background-size: 335px 471px;
  background-position: 50% 50%;

  @media screen and (min-width: 768px) {
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    background-size: 736px 576px;
    max-width: 768px;


    background-image: url('../images/footer/footer-img-tablet@1x.png');

  }

  @media screen and (min-width: 1440px) {
    background-size: 1408px 454px;
    max-width: 1440px;
    border-radius: 50px;
    background-image: url('../images/footer/footer-img-desctop@1x.png');

  }
}

// NAV

.footer-nav {

  padding-left: 20px;


  @media screen and (min-width: 768px) {
    padding-left: 0px;
    margin-top: 34px;
    margin-left: 48px;
    display: block;
  }


}

.footer__logo {
  color: rgb(246, 246, 246);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 28px;
  }

}



.footer-contacts__list {
  margin-top: 10px;
  display: flex;

  @media screen and (min-width: 768px) {
    margin-top: 30px;
  }

}

.footer-contacts__item {
  margin-right: 12px;
  padding: 8px;
  padding-bottom: 5px;
  border: 1px solid rgba(246, 246, 246, 0.2);
  border-radius: 10px;


}

.footer-contacts__link {


  width: 20px;
  height: 20px;
  fill: rgb(246, 246, 246);

  @media screen and (min-width: 768px) {
    width: 28px;
    height: 28px;
  }
}


.footer-contacts__link:hover {
  transition-duration: 1000ms;
  fill: rgb(195, 194, 194);
}

// TITLE

.footer__title {
  padding-left: 20px;
  // margin-left: 20px;
  font-style: normal;
  margin-top: 20px;
  max-width: 279px;
  line-height: 32px;
  color: rgb(246, 246, 246);
  font-size: 32px;
  font-weight: 400;

  letter-spacing: -0.64px;

  @media screen and (min-width: 768px) {
    padding-left: 0px;
    margin-right: 42px;
    margin-left: auto;
    font-size: 50px;
    max-width: 345px;
    font-weight: 400;
    line-height: 50px;
    // margin-top: 64px;
    letter-spacing: -1.08px;

  }

  @media screen and (min-width: 1440px) {
    margin-left: 160px;
    margin-right: 160px;
    line-height: 64px;
    font-size: 64px;

    max-width: 448px;
  }
}

.footer-title__span {
  font-size: 32px;
  font-style: italic;
  color: rgb(246, 246, 246, 0.3);

  letter-spacing: -0.64px;

  @media screen and (min-width: 768px) {

    font-size: 50px;
    letter-spacing: -1.08px;
    margin-right: 10px;
  }

  @media screen and (min-width: 1440px) {
    line-height: 64px;
    font-size: 64px;

  }

}

// FORM

.footer__form {
  padding-left: 20px;
  // margin-left: 20px;
  margin-bottom: 40px;
  max-width: 305px;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    padding-left: 0px;
    margin-right: 42px;
    margin-left: auto;
    max-width: 352px;
    margin-top: 32px;
  }

  @media screen and (min-width: 1440px) {
    margin-right: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
}

.footer-form__input {
  color: #FFF;
  width: 297px;
  padding: 12px 10px 12px 14px;
  align-items: center;
  /* Inside Auto Layout */
  background: transparent;
  margin: 20px 0px;
  border: 1px solid rgb(246, 246, 246);
  border-radius: 30px;

  @media screen and (min-width: 768px) {
    padding-top: 12px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 12px;
    width: 352px;
  }
}

.footer-form__btn {
  color: rgb(246, 246, 246);
  max-width: 305px;
  /* Auto layout */
  padding: 12px 130px;

  /* Inside Auto Layout */
  border-radius: 30px;
  background: rgb(126, 132, 127);

  @media screen and (min-width: 768px) {
    padding: 12px 157px 12px 157px;
    max-width: 352px;
  }

}

.footer-form__btn:hover {
  transition-duration: 1000ms;
  background: #5f6560;
}

.footer-form__title {
  color: rgb(246, 246, 246);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
  }
}


// TEXT

.footer-text__list {
  padding-left: 20px;
  margin-top: 60px;
  padding-bottom: 30px;


  @media screen and (min-width: 768px) {
    padding-bottom: 20px;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 120px;
    margin-bottom: 26px;
  }
}

.footer-list__item:last-child {
  margin-right: 10px;

  @media screen and (min-width: 768px) {
    margin-right: 0px;
    margin-left: 32px;
  }
}

.footer-final__text {
  color: rgb(246, 246, 246);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 128.571% */
  letter-spacing: -0.28px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

}


.footer-slesh__span {
  margin-left: 8px;
  margin-right: 8px;

  @media screen and (min-width: 768px) {}

}