.quote {
  margin-top: 20px;
  margin-bottom: 20px;
}

.quote-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.quote-quotes-box {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 40px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-text-box {
  position: relative;
  display: flex;
  background-color: #7e847f;
  color: #f6f6f6;
  border-radius: 50px;
  width: 704px;
  height: 302px;
  padding: 42px 20px 40px 66px;
  flex-direction: column;
  width: 335px;
  height: 272px;
  flex-shrink: 0;
  position: relative;
  align-items: start;
}


.quote__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  position: relative;
}

.quote__span {
  width: 34px;
  height: 32px;
  padding: 6px 7px;
  background-color: rgba(246, 246, 246, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40px;
  left: 20px;
}

.quote__description {
  color: rgba(246, 246, 246, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  margin-top: 14px;
  margin-bottom: 14px;
  max-width: 249px;
}

.quote-author__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.quote-img-box {
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .quote {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .quote-quotes-box {
    width: 48px;
    height: 48px;
    top: 32px;
    right: 80px;
  }

  .quote-text-box {
    padding: 64px 80px 64px 130px;
    width: 736px;
    height: 302px;
  }

  .quote__title {
    font-size: 24px;
    line-height: 1.33;
  }

  .quote__span {
    top: 64px;
    left: 80px;
  }

  .quote__description {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 16px;
    margin-bottom: 25px;
    max-width: 526px;
  }
}

@media screen and (min-width: 1440px) {
  .quote-box {
    flex-direction: row;
  }

  .quote-quotes-box {
    right: 64px;
  }

  .quote-text-box {
    padding: 64px 64px 64px 114px;
    flex-direction: column;
    width: 704px;
  }

  .quote__span {
    top: 64px;
    left: 64px;
  }
}