.quote {
  padding-top: 16px;
  padding-bottom: 16px;
}

.quote-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-quotes-box {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 32px;
  right: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-text-box {
  position: relative;
  display: flex;
  background-color: #7e847f;
  color: #f6f6f6;
  border-radius: 50px;
  width: 704px;
  height: 302px;
  // padding: 64px;
  padding: 64px 64px 64px 96px;
  flex-direction: column;
  width: 704px;
  height: 302px;
  flex-shrink: 0;
  position: relative;
}

.quote-text-box-icon {
  width: 34px;
}

.quote__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.33;
  position: relative;
}

.quote__span {
  width: 32px;
  height: 32px;
  padding: 6px 7px;
  background-color: rgba(246, 246, 246, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: -45px;
}

.quote__description {
  color: rgba(246, 246, 246, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 16px;
  margin-bottom: 25px;
  max-width: 526px;
}

.quote-author__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.quote-img-box {
  flex-shrink: 0;
}
