.recommendation {
  padding-top: 20px;

  @media screen and (min-width: 768px) {
    padding-top: 16px;
  }
}

.recommendation .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1440px) {
    flex-direction: row;
  }
}

.recommendation-img-box {
  flex-shrink: 0;
}

.recommendation-box {
  padding: 40px 20px;
  padding-left: 65px;
  border-radius: 50px;
  background-color: rgb(27, 27, 27);
  width: 335px;
  height: 269px;

  @media screen and (min-width: 768px) {
    padding: 64px 96px 64px 95px;
    width: 736px;
    height: 302px;
  }

  @media screen and (min-width: 1440px) {
    padding: 64px 64px 64px 96px;
    width: 704px;
    height: 302px;
    flex-shrink: 0;
  }
}

.recommendation__span {
  position: absolute;
  top: 0;
  left: -45px;
  background-color: rgba(246, 246, 246, 0.1);
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;

  @media screen and (min-width: 1440px) {
    padding: 10px 8px;
  }
}

.recommendation__svg {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recommendation__title {
  position: relative;
  color: #f6f6f6;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 32px;
  }
}

.recommendation__subtitle {
  color: rgba(246, 246, 246, 0.6);
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.recommendation__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(246, 246, 246, 0.6);
  margin-top: 14px;
  max-width: 245px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    max-width: 526px;
    margin-top: 25px;
  }
}
