.header {
    position: absolute;
    z-index: 1;
    top: 14px;
    left: 50%;
    transform: translate(-50%, 14px);
}

.header__nav {
    align-items: center;
    gap: 390px;
    display: flex;
}

.header-nav__list {
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
    display: flex;
    border-radius: 60px;
    background: rgb(126, 132, 127);
}

.header__logo {
    margin-left: 48px;
    color: rgb(27, 27, 27);
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -2%;
    text-align: left;
}

.header-nav__item {
    margin-left: 16px;
}

.header-nav__item:last-child {
    margin-right: 16px;
}

.is-active {
    border-radius: 30px;
    background: rgb(255, 255, 255);
    padding-top: 6px;
    padding-left: 26px;
    padding-bottom: 6px;
    padding-right: 26px;
}

.is-active .header-nav__link {
    color: rgb(27, 27, 27);
}

.header-nav__link {
    color: rgb(246, 246, 246);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.header-contacts__list {
    gap: 12px;
    display: flex;
    align-items: center;
}

.header-contacts__item {
    border: 1px solid rgba(126, 132, 127, 0.2);
    border-radius: 10px;
}

.header-contacts__link {
    display: flex;

    padding: 8px;
    fill: rgb(126, 132, 127);
}

.header-contacts__link:hover {
    fill: #5f6560;
}